<!DOCTYPE html>
<html ng-app="BackendHimawari">
<head>
    <meta charset="utf-8">
    <title>Backend - Himawari 點餐系統</title>
    <link rel="stylesheet" type="text/css" href="//assets.himawari.local/styles/backend.css">
    <link rel="stylesheet" type="text/css" href="//assets.himawari.local/styles/font-awesome/font-awesome.css">
    <script src="//ws-api.himawari.local:9999/socket.io/socket.io.js"></script>
    <script src="//assets.himawari.local/lib/angular.min.js"></script>
    <script src="//assets.himawari.local/lib/q.js"></script>
    <script src="//assets.himawari.local/module/api.js"></script>
    <script src="/scripts/backend.js"></script>
    <script src="/scripts/api-service.js"></script>
    <script src="/scripts/controller/mainController.js"></script>
    <script src="/scripts/controller/topBarController.js"></script>
    <script src="/scripts/controller/orderListController.js"></script>
</head>
<body ng-controller="mainCtrl">
    <div class="topBar" ng-controller="topBarCtrl">
        <button class="normal"><i class="fa fa-bar-chart-o"></i>統計</button>
        <button class="normal"><i class="fa fa-cutlery"></i>菜單</button>
        <button class="normal"><i class="fa fa-sitemap"></i>控制</button>
        <button class="warning float-right"><i class="fa fa-cog"></i>管理</button>
    </div>
    <div class="order-list-container" ng-controller="orderListCtrl">
        <div class="rows" ng-repeat="orders in rows">
            <div class="order-list" ng-repeat="order in orders">
                <ol class="{{order.type == 1 ? 'order-type-here' : 'order-type-togo'}}">
                    <header>
                        <span class="number">{{order.number}}</span>
                        <span class="name">{{member_map[order.member_id].nick}}</span>
                    </header>
                    <ol class="order-list-items">
                        <li ng-repeat="item in order.detail">{{menu[item.dish_id].short_name}}
                        <span class="price">${{item.price}}</span></li>
                    </ol>
                    <footer class="final">
                        <span class="discount" ng-show="order.discount + order.point_discount > 0">${{order.total_price}} - ${{order.discount + order.point_discount}} = </span>${{order.total_price - (order.discount + order.point_discount)}}
                    </footer>
                </ol>
            </div>
        </div>
    </div>
</body>
</html>