@import "compass";

button {
    border: none;
    border-radius: 4px;
    font-size: 20pt;
    padding: 0 20px;
    background-color: #EEE;
    outline: none;
    color: $color-primary;
    transition-property: background-color color;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    i {
        margin-right: 10px;
    }
    &:active {
        background-color: darken(#FFF, 15);
    }
}

button.warning {
    color: $color-warning;
}