$color-primary: #39B3E6;
$color-text: #515151;
$color-bg: #EEEEEE;
$color-highlight: #FA6900;
$color-empty: #FFFFFF;

$color-blue: #4DBCE9;
$color-red: #FF003C;
$color-green: #88C100;
$color-yellow: #FABE28;
$color-orange: #FF8A00;