.float-right {
    float: right;
}

.float-left {
    float: left;
}

@mixin my-clearfix {
    &:after, &:before {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}